/* Code by Lluis Guardia */

/* ------------------------------------- FONTS CLASES ------------------------------------- */

.abrilfatface{
  font-family: 'Abril Fatface', sans-serif;
}

.alfaslabone{
  font-family: 'Alfa Slab One', sans-serif, serif;
}

.arialblack{
  font-family: 'Arial Black', sans-serif, serif;
}

.arial{
  font-family: 'Arial', sans-serif, serif;
}

.bebasneue{
  font-family: 'Bebas Neue', sans-serif, serif;
}

.brushscriptmt{
  font-family: 'Brush Script MT', sans-serif, serif;
}

.cabin{
  font-family: 'Cabin', sans-serif, serif;
}

.caveat{
  font-family: 'Caveat', sans-serif, serif;
}

.climatecrisis{
  font-family: 'Climate Crisis', sans-serif, serif;
}

.comfortaa{
  font-family: 'Comfortaa', sans-serif, serif;
}

.comicsansms{
  font-family: 'Comic Sans MS', sans-serif, serif;
}

.couriernew{
  font-family: 'Courier New', sans-serif, serif;
}

.dancingscript{
  font-family: 'Dancing Script', sans-serif, serif;
}

.dosis{
  font-family: 'Dosis', sans-serif, serif;
}

.firasans{
  font-family: 'Fira Sans', sans-serif, serif;
}

.garamond{
  font-family: 'Garamond', sans-serif, serif;
}

.georgia{
  font-family: 'Georgia', sans-serif, serif;
}

.ibmplexmono{
  font-family: 'IBM Plex Mono', sans-serif, serif;
}

.impact{
  font-family: 'Impact', sans-serif, serif;
}

.inconsolata{
  font-family: 'Inconsolata', sans-serif, serif;
}

.indieflower{
  font-family: 'Indie Flower', sans-serif, serif;
}

.josefinsans{
  font-family: 'Josefin Sans', sans-serif, serif;
}

.karla{
  font-family: 'Karla', sans-serif, serif;
}

.lato{
  font-family: 'Lato', sans-serif, serif;
}

.lobster{
  font-family: 'Lobster', sans-serif, serif;
}

.lora{
  font-family: 'Lora', sans-serif, serif;
}

.lucidaconsole{
  font-family: 'Lucida Console', sans-serif, serif;
}

.lucidasansunicode{
  font-family: 'Lucida Sans Unicode', sans-serif, serif;
}

.merriweather{
  font-family: 'Merriweather', sans-serif, serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif, serif;
}

.mulish{
  font-family: 'Mulish', sans-serif, serif;
}

.notosans{
  font-family: 'Noto Sans', sans-serif, serif;
}

.opensans{
  font-family: 'Open Sans', sans-serif, serif;
}

.oswald{
  font-family: 'Oswald', sans-serif, serif;
}
.pacifico{
  font-family: 'Pacifico', sans-serif, serif;
}

.palatinolinotype{
  font-family: 'Palatino Linotype', sans-serif, serif;
}

.playfairdisplay{
  font-family: 'Playfair Display', sans-serif, serif;
}

.poppins{
  font-family: 'Poppins', sans-serif, serif;
}

.ptsans{
  font-family: 'PT Sans', sans-serif, serif;
}

.ptserif{
  font-family: 'PT Serif', sans-serif, serif;
}

.quicksand{
font-family: 'Quicksand', sans-serif, serif;
}

.raleway{
  font-family: 'Raleway', sans-serif, serif;
}

.roboto{
  font-family: 'Roboto', sans-serif, serif;
}

.shadowsintolight{
  font-family: 'Shadows Into Light', sans-serif, serif;
}

.sofia{
  font-family: 'Sofia', sans-serif, serif;
}

.sourcecodepro{
  font-family: 'Source Code Pro', sans-serif, serif;
}

.sourcesanspro{
  font-family: 'Source Sans Pro', sans-serif, serif;
}

.spacemono{
  font-family: 'Space Mono', sans-serif, serif;
}

.timesnewroman{
  font-family: 'Times New Roman', sans-serif, serif;
}

.titilliumweb{
  font-family: 'Titillium Web', sans-serif, serif;
}

.trebuchetms{
  font-family: 'Trebuchet MS', sans-serif, serif;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif, serif;
}

.worksans{
  font-family: 'Work Sans', sans-serif, serif;
}